<ion-content>
  <div class="drop-back"></div>

  <ion-back-button icon="chevron-back-outline" text="" class="back-btn"></ion-back-button>

  <ion-buttons class="top-block">
    <h1 class="title">Quên mật khẩu</h1>
    <p class="desc">
      Chúng tối sẽ gửi mã code đến email của bạn
      <br> Bây giờ hãy nhập email của bạn
    </p>
    <img src="assets/icon/forget-password.svg">
  </ion-buttons>
  
  <ion-buttons class="bottom-block">
    <p class="label-bottom">Nhập email của bạn</p>
    <input class="input-tel" (keyup)="getEmail($event)">
    <ion-buttons class="get-code-container">
      <!-- <span class="get-code-label">Get code</span> -->
      <ion-icon name="chevron-forward-outline" class="get-code-icon" (click)="goToVerification()"></ion-icon>
    </ion-buttons>
  </ion-buttons>
</ion-content>