/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
    --grayE5:  #E5E5E5;
    --back43: #434141;
    --main-color: #00B0B2;
    --fd7160-color: #fd7160;
    --orange-color: #FAAE41;
    --ion-color-orange-color: #FAAE41;
    --red: red;
  }
html, body {
  font-size: 16px;
  ion-content {
  }
  ion-header {
    // font-family: 'Roboto', sans-serif !important;
  }
  
}
.modal-activity {
  margin-top: -20%;
  --height: 30%;
  --width: 90%;
  --overflow: scroll;
  .modal-wrapper {
    border-radius: 20px;
  }
}
.display-none {
    display: none;
}
.alert-wrapper.sc-ion-alert-md {
  min-width: 270px;
}
.modal-edit-family {
  --height: 300px;
  --width: 92%;
  .modal-wrapper {
    border-radius: 20px;
  }
}
 .modal__Invite {
  --height: 400px;
  --width: 92%;
  .modal-wrapper {
    border-radius: 20px;
  }
}
.modalPassword {
  --height: 400px;
  --width: 92%;
  .modal-wrapper {
    border-radius: 20px;
  }
}
.confirm-modal {
  --height: 250px;
  .modal-wrapper {
    position: absolute;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
.modal__logout {
  --height: 200px;
  .modal-wrapper {
      position: absolute;
      bottom: 0;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
  }
}
.back-drop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #525151;
  right: 0;
  bottom: 0;
  z-index: 99;
  opacity: 0.4;
}
.alert-remove-user {
  font-size: 16px;
}

.btn {
  display: inline-block;
    color: #fff;
    --background: var(--main-color);
    --border-radius: 16px;
    width: 137px;
    height: 40px;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 7px;
  left: 0;
  width: 100%;
}
.back-btn {
  display: inline-block;
  color: #fff;
  // color: #fff;
  // background: #fff;
  border-radius: 18px;
  width: 45px;
  height: 45px;
  position: fixed;
  top: 17px;
  left: 17px;
  z-index: 10;
}
.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
}
.home {
  display: inline-block;
    color: #E7E7E7, 100%;
    border-radius: 18px;
    width: 24px;
    height: 22px;
    position: fixed;
    top: 22px;
    right: 16px;
    z-index: 10;
}
*::-webkit-input-placeholder {
  color: #afaeae;
}
*:-moz-placeholder {
  color: #afaeae;
}
*:-ms-input-placeholder { /* IE10+ */
  color: #afaeae;
}
.three-dots-1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.three-dots-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-dots-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.google-map-modal {
  --height: 90%;

  sc-ion-modal-ios {
    display: none;
  }

  .modal-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .ion-page {
      justify-content: flex-start;
    }
  }
}