<ion-content>
  <div class="drop-back"></div>

  <ion-back-button icon="chevron-back-outline" text="" class="back-btn"></ion-back-button>

  <ion-buttons class="top-block">
    <h1 class="title">NEW PASSWORD</h1>
    <p class="desc">Please enter new password and confirm</p>
    <img src="assets/icon/new-password.svg">
  </ion-buttons>

  <ion-buttons class="bottom-block">
    <p class="label-bottom">New password</p>
    <span class="invalid-input">{{ invalidPassword }}</span>
    <input type="password" name="password" class="input" (focus)="clearPassword($event)" (blur)="saveValue($event)">

    <p class="label-bottom">Confirm password</p>
    <span class="invalid-input">{{ invalidConfirmedPassword }}</span>
    <input type="password" name="confirmedPassword" class="input" (focus)="clearPassword($event)" (blur)="saveValue($event)">

    <ion-buttons class="get-code-container">
      <ion-icon name="chevron-forward-outline" class="get-code-icon active-effect" (click)="confirmPassword()">
      </ion-icon>
    </ion-buttons>
  </ion-buttons>
</ion-content>