<app-header [headerCustom]="headerCustom"></app-header>

<ion-content class="ion-padding">
  <ion-text class="">Your family be long to</ion-text>
  <ion-buttons *ngFor="let item of listFamily" class="item active-effect" (click)="goToDetail(item)">
		<ion-buttons class="left-box">
			<div class="img-container">
				<img class="img" src="assets/img/family.png">
			</div>
      <div class="name-family">
        <span class="title">{{ item.name }}</span>
        <span class="content">{{item.count}} members</span>
      </div>
		</ion-buttons>
		<ion-buttons class="right-box">
			<ion-buttons class="icon-container">
				<ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>
		</ion-buttons>
	</ion-buttons>
</ion-content>
