ion-content {
  ion-fab {
    right: 135px;
    .btn-click {
        position: absolute;
        bottom: 10px;
        right: -105px;
        --ion-color-base: var(--fd7160-color) !important;
    }
    .group {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      span {
        margin-right: 4px;
        width: 100px;
      }
    }

    ion-fab-list {
      min-width: 187px;
        position: absolute;
        right: -118px;
      .btn-fab {
        height: 47px;
        border-radius: 50%;
        width: 50px;
        box-shadow: 0px 6px 6px rgb(0 0 0 / 25%);

      }

      .btn-event {
        --ion-color-base: var(--fd7160-color) !important;
      }

      .btn-to-do {
        --ion-color-base: var(--main-color) !important;
      }

      .btn-shopping {
        --ion-color-base: #eafafa !important;
      }

      ion-fab-button {
        img {
          width: 20px;
        }

        .img-shopping {
          background-color: var(--main-color);
        }
      }

    }
  }

}
