<ion-content> 
  <ion-item-group>
    <ion-label class="title">Register verification</ion-label>
    <ion-label class="confirm">Enter code we have sent to email</ion-label>
    <ion-label class="email">{{data.email}}</ion-label>
    <ion-input type="text" placeholder="6 code" [(ngModel)]="code" ></ion-input>
    <ion-label class="wrong" [ngClass]= "{'hidden': wrong}">
      Code wrong, please check again!
    </ion-label>
    <ion-button class="btn btn-confirm"(click)="confirm()"> Confrim</ion-button>
  </ion-item-group>
 
  
</ion-content>
