ion-content {
  ion-item-group {
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;

    .title {
      color: #828282;
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 551;
      margin-top: 10px;
    }

    .confirm {
      color: #828282;
    }

    .email {
      color: #424242;
    }

    ion-input {
      background: #e0e0e0;
      margin: 10px 0;
      border-radius: 10px;
      color: #424242;
    }

    .wrong {
      color: rgb(255, 0, 0);
    }

    .hidden {
      display: none;
    }

    .btn-confirm {
      margin-top: 16px;
    }
  }
}
