<ion-header class="ion-no-border">
  <ion-buttons class="user-container">
    <span *ngIf="name">Hi! {{ name }}</span>
    <ion-avatar class="main-box-shadow active-effect" (click)="goToUserInfo()">
      <img src="{{avatarReplace}}" alt="" />
      <ion-spinner
        *ngIf="!avatarReplace"
        class="absolute-center"
        name="lines"
      ></ion-spinner>
    </ion-avatar>
  </ion-buttons>
  <ul class="family-member">
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
    <li>
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="" />
      </ion-avatar>
    </li>
  </ul>
</ion-header>
<ion-content>
  <ion-item-group class="sayhi ion-padding">
    <ion-label>
      Sleep <br />
      well!
    </ion-label>
  </ion-item-group>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-item-group>
        <div class="to-do-title">
          <img src="assets/img/stick.svg" alt="" />
          Việc bạn cần làm tiếp theo
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <div class="to-do-content">
          <img src="assets/img/oclock.png" alt="" class="o-clock" />
          <ion-item-group class="to-do-item">
            <span>Talk to Mi about Picniic</span><br>
            <span> Overdue: 18:00, T7, 20 Th3</span>
          </ion-item-group>
        </div>
      </ion-item-group>
    </ion-slide>
    <ion-slide>
      <ion-item-group>
        <div class="to-do-title">
          <img src="assets/img/stick.svg" alt="" />
          Việc bạn cần làm tiếp theo
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <div class="to-do-content">
          <img src="assets/img/oclock.png" alt="" class="o-clock" />
          <ion-item-group class="to-do-item">
            <span>Talk to Mi about Picniic</span><br>
            <span> Overdue: 18:00, T7, 20 Th3</span>
          </ion-item-group>
        </div>
      </ion-item-group>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <div class="content">hoaimiqng</div>
</ion-content>
