<ion-content>
  <ion-item-group>
    <form  [formGroup]="formSubmit" (ngSubmit)="onSubmit()">
     
      <ion-item-group>
        <ion-label>
          Relationship <ion-label>(*)</ion-label>
        </ion-label>
        <input type="text" formControlName="relationship" />
        <ion-label class="messagerrror" *ngIf="check">
          {{message}}
        </ion-label>
      </ion-item-group>
      <ion-item-group>
        <ion-label>name<ion-label>(*)</ion-label>
        </ion-label>
        <input type="text" formControlName="name" />
        <ion-label class="messagerrror" *ngIf="check">
          {{message}}
        </ion-label>
      </ion-item-group>
      <ion-item-group>
        <ion-label>
       Please enter email valid <ion-label>(*)</ion-label>
        </ion-label>
        <input type="email" formControlName="email" />
        <ion-label class="messagerrror" *ngIf="check">
          {{message}}
        </ion-label>
      </ion-item-group>
     
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button class="btn-cancel"  (click)="dismissModal()">Cancel</ion-button>
          </ion-col>
          <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button type="submit" [disabled]="formSubmit.invalid">Send</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-item-group>
</ion-content>