


<ion-header>
  <!-- <ion-buttons class="user-container"> -->
    <ion-back-button class="back-btn" defaultHref="home"></ion-back-button>
    <ion-segment value="intro" swipeGesture="false" mode="ios">
      <ion-segment-button value="intro" class="intro"(click)="changeTabs()" >
        <ion-label>To-do</ion-label>
      </ion-segment-button>
      <ion-segment-button value="biography" class="biography" (click)="changeTabs()">
        <ion-label>List</ion-label>
      </ion-segment-button>
    </ion-segment>
  <ion-icon name="home" class="home" style="color: #E7E7E7;" (click)="gotoMain()"></ion-icon>

  <!-- </ion-buttons> -->
 
  
</ion-header>
<!-- <app-header [headerCustom]="headerCustom"></app-header> -->
<ion-content>
 
  <ul class="family-member">
    <li *ngFor="let i of listFamilyMember">
      <ion-avatar class="family-member--img">
        <img src="assets/img/avatar.png" alt="{{i.lName}}" />
      </ion-avatar>
      <ion-text> {{i.lName}}</ion-text>
    </li>
  </ul>
 <ion-list>
 
  <div class="item" >
    <ion-checkbox ></ion-checkbox>
    <ion-buttons>
      <p class="title">
        <span>Go market |</span>
        <span class="due">DUE 11:15, T6, 21 Th5</span>
      </p>
    <p>For: Mi, Danh</p>
    </ion-buttons>

    <img class="star" src ="assets/img/star.svg" alt="" >
  </div>
 </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
   <ion-buttons>
     <ion-button class="btn" (click)="clickBtnAll()"[ngClass]="{'btn-active':active}">All items</ion-button>
     <ion-button class="btn" (click)="clickBtnRemain()"[ngClass]="{'btn-active':!active}">Remaining</ion-button>
</ion-buttons>
  </ion-toolbar>
  <!-- <img src="assets/img/plus.svg" alt="" class="plus"> -->
</ion-footer>
<div *ngIf="show" class="back-drop">
  
</div>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="dark" class="btn-click" (click)="toggleClick()">
    <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <div class="group" (click)="addToDo()">
      <span>Add To-Do</span>
      <ion-fab-button color="light" class="btn-fab btn-to-do">
        <img src="assets/img/to-do-2.svg" alt="add to-do" />
      </ion-fab-button>
    </div>

    <div class="group" (click)="addList()">
      <span>Add List</span>
      <ion-fab-button color="light" class="btn-fab btn-event">
        <img src="assets/img/list.svg" alt="add event" />
      </ion-fab-button>
    </div>
  </ion-fab-list>
</ion-fab>