<app-header [headerCustom]="headerCustom"></app-header>

<ion-content >
  <div class="wrapper">
    <ion-buttons class="header">
      <ion-icon (click)="prevMonth()" name="chevron-back-outline" >
      </ion-icon>
      <span class="date"> {{ year}}. {{nameMonth}}</span>
      <ion-icon (click)="nextMonth()" name="chevron-forward-outline" >
      </ion-icon>
    </ion-buttons>
  
    <ion-buttons class="day-of-month">
      <ion-buttons class="dates " >
        <ion-label  *ngFor="let i of DATES"> {{i}}</ion-label>
      </ion-buttons>
        <ion-label *ngFor = "let item of daysofMonth" class="day"
        [style.margin-left]="item.day == '01'? item.mr:'0vw'"
        [ngClass] ="{'to-day': item.today == today }"
        >
        {{item.day}}
        <span class="active" *ngIf="item.check"></span>
      </ion-label>
     
    </ion-buttons>
  </div>
  <div class="event">
    <div class="wrapper-event" *ngFor ="let item of listData">
      <ion-label class="event-time">{{item.dateStart | date: 'EEEE, MMMM d, y, h:mm a'}}</ion-label>
      <ion-item-group class="group-event">
        <div class="event">  
          <ion-label class="event-date">
            Start<br />
            {{item.dateStart | date: 'h:mm a'}}
            <!-- <span class="day-">{{item.dateStart | date: 'MMMM'}}<br />
              <ion-label> {{item.dateStart | date: 'dd'}}</ion-label>
            </span> -->
          </ion-label>
          <ion-buttons class="wrapper-content">
            <span class="event-content three-dots-2">
              {{item.name}} </span>
              <span class="list-join">
                 
                <ion-label class="for">For:</ion-label>
                <ion-label *ngFor="let j of item.join" class="name">
                  {{j.name}} , 
                </ion-label>
              </span>
          </ion-buttons>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-item-group>
    </div>
  </div>

</ion-content>
<div *ngIf="show" class="back-drop">
  
</div> 
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="dark" class="btn-click"(click)="toggleClick()">
    <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <div class="group" (click) ="gotoShopping()">
      <span class="shopping">Add Shopping</span>
      <ion-fab-button color="light" class="btn-fab btn-shopping">
        <img src="assets/img/cart.svg" alt="add to-do" />
      </ion-fab-button>
    </div>

    <div class="group"(click) ="gotoToDo()">
      <span>Add To-Do</span>
      <ion-fab-button color="light" class="btn-fab btn-to-do">
        <img src="assets/img/to-do.svg" alt="add to-do" />
      </ion-fab-button>
    </div>

    <div class="group" (click)="gotoEvent()">
      <span>Add Event</span>
      <ion-fab-button color="light" class="btn-fab btn-event">
        <img src="assets/img/event.svg" alt="add event" />
      </ion-fab-button>
    </div>
  </ion-fab-list>
</ion-fab>