<app-header [headerCustom]="headerCustom"></app-header>
<ion-content>
  <div class="body">
    <div class="user">
      <ion-avatar class="user-img-container">
        <img src="{{avatar}}" class="user-img main-box-shadow">
        <!-- <ion-spinner *ngIf="!avatar" class="absolute-center" name="lines"></ion-spinner> -->
      </ion-avatar>
      <ion-label class="user-name three-dots-2">{{ name }}</ion-label>
    </div>
    <ion-list class="settings">
      <ion-buttons routerLink="/account">
        <ion-label>Account information</ion-label>
      </ion-buttons>
      <ion-buttons routerLink="/account-setting/family">
        <ion-label>Manage Family</ion-label>
      </ion-buttons>
      <ion-buttons (click)="updatePassword()">
        <ion-label>Change password</ion-label>
      </ion-buttons>
      <!-- <ion-buttons routerLink="/paymentmethods">
        <ion-label>Payment methods</ion-label>
      </ion-buttons> -->
      <ion-buttons>
        <ion-label>Setting</ion-label>
      </ion-buttons>
      <ion-buttons>
        <ion-label>About us</ion-label>
      </ion-buttons>
      <ion-buttons (click)="openModalLogOut()">
        <ion-label>Log out</ion-label>
        <img [ngClass]="{ 'display-none': isOpeningModal }" src="assets/img/logout.svg" alt="" class="img_logout">
      </ion-buttons>
    </ion-list>
  </div>
</ion-content>