.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color) ;
    font-size: 20px;
    position: fixed;
    font-weight: 550;
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
    @media screen and (max-width: 320px) {
      font-size: 18px;
    }
    ion-label {
      margin: 0 70px;
      text-align: center;
    }
    ion-icon {
      position: absolute;
      right: 26px;
      font-size: 25px;
    }
  }
  
  ion-icon {
    position: absolute;
    right: 16px;
    color: #c8c8c8;
  }
  
  ion-back-button {
    font-size: 2.2vh;
  }
  .back-btn {
    display: inline-block;
    color: var(--main-color);
    // color: #fff;
    background: #fff;
    border-radius: 18px;
    width: 45px;
    height: 45px;
    position: fixed;
    top: 17px;
    left: 17px;
    z-index: 10;
  }

ion-content {
    --padding-top: 80px;
}

.ion-content-activated {
    --padding-bottom: 80px;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00b0b2;
    font-size: 18px;
    font-weight: 600;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 9;

    @media screen and (max-width: 320px) {
        font-size: 14px;
    }
}

.user {
    width: 100%;
    position: relative;
    margin-bottom: 35px;
    
    .user-img-container {
        width: 150px;
        height: 150px;
        margin: 0 auto;

        .user-img {
            border-radius: 50%;
            border: 1px solid #fff;
            width: 100%;
            height: 100%;
        }

        .icon-edit {
            background: #DDDDDD;
            position: absolute;
            top: 144px;
            left: 50%;
            transform: translate(25px, -50%);
            padding: 5px;
            border-radius: 7px;
            color: #666666;
            font-size: 15px;
        }
    }

    .edit-btn {
        color: #CBCBCB;
        font-size: 14px;
        border: 1px solid #cbcbcb;
        border-radius: 15px;
        padding: 4px 8px;
        position: absolute;
        bottom: 0;
        left: calc(50% + 70px);
        transition: .2s;

        &:active {
            background: #cbcbcb;
            color: #fff;
        }
    }
}

.list {
    width: 80vw;
    min-width: 300px;
    margin: 0 auto;

    .item {
        margin-bottom: 30px;
        
        .item-label {
            color: #B0B0B0;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        
        .item-content {
            border-width: 1px;
            border-style: solid;
            border-color: transparent transparent #eeeeee transparent;
            color: #777777;
            font-size: 16px;
            font-weight: 400;
            --padding-start: 10px;

            &:focus {
                border-color: #00b0b2 !important;
            }
        }
        
        .item-content-activated {
            border-radius: 10px;
            border-color: #999;
        }
    }
    .change__password {
        float: right;
        color: #F6C33E;
        font-size: 14px;
        text-decoration: underline ;
        margin-bottom: 20px;
    }
}

.footer {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    justify-content: space-evenly;

    .btn {
        color: #fff;
        text-transform: none;
        font-size: 18px;
        --border-radius: 17px;
        
        width: 139px;
        height: 38px;
    }

    .btn-cancel {
        --background: #FBAD42;
    }

    .btn-update-disabled {
        --background: #CBCBCB;
    }

    .btn-update {
        --background: #00b0b2;
    }
}

.error-message {
    color: red;
    font-size: 13px;
    margin: 6px;
}

.backdrop-list {
    opacity: 1;
    background: #fff;
    z-index: 10;
    outline: none;
}