ion-content {
    ion-item-group {
        margin-top: 40px;
       
        ion-item-group {
            text-align: center;
            width: 70%;
            margin: 24px auto;
            ion-label {
                color: var(--main-color);
                margin-bottom: 10px;
                ion-label {
                    color: red;
                    display: inline-flex;
                }
            }
            .messagerrror {
                color: red;
                margin-top: 14px;
            }
            input {
                border: none;
                background-color: #F4F4F4;
                outline: none;
                height: 30px;
                width: 100%;
                color: #424242;
                text-align: center;
                padding: 0 20px;
                border-radius: 6px;
            }
        }
        .btn-cancel{
            --background: #F6C33E;
        }
        ion-button {
            min-width: 110px;
            --border-radius: 15px;
            height: 34px;
            --background: var(--main-color);
            color: #fff;
            margin-left: 50%;
            transform: translateX(-50%);
        } 
       
       
    }
}
