<ion-content>
  <img src="assets/img/bg.jpg" alt="" />

  <div class="body">
    <ion-segment
      (ionChange)="changedSegment($event)"
      value="login"
      swipeGesture="false"
      mode="ios"
    >
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="signUp">
        <ion-label>Sign up</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="group" [ngClass]="{'display-none': segmentValue != 'login'}">
      <form class="form" [formGroup]="formLogin" (onSubmit)="submitLogin()">
        <div class="margin-bottom">
          <ion-label class="label">Enter your email</ion-label>
          <ion-input
            class="input"
            type="text"
            formControlName="email"
          ></ion-input>
          <ng-container *ngFor="let validation of validationLogin.email">
            <div
              class="error-message"
              *ngIf="formLogin.get('email').hasError(validation.type) && (formLogin.get('email').dirty || formLogin.get('email').touched)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom">
          <ion-label class="label">Password</ion-label>
          <ion-input
            class="input"
            type="password"
            formControlName="password"
          ></ion-input>
          <ng-container *ngFor="let validation of validationLogin.password">
            <div
              class="error-message"
              *ngIf="formLogin.get('password').hasError(validation.type) && (formLogin.get('password').dirty || formLogin.get('password').touched)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="ion-text-right">
          <ion-label class="forgot-password-btn" (click)="clickForgotPassword()"
            >Forgot password?</ion-label
          >
        </div>
      </form>
      <div class="ion-text-right">
        <ion-button class="submit-btn" (click)="submitLogin()">
          <ion-icon name="chevron-forward-outline" class="ion__next">
          </ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="group" [ngClass]="{'display-none': segmentValue != 'signUp'}">
      <form class="form" [formGroup]="formSignUp" (onSubmit)="submitSignUp()">
        <div class="margin-bottom">
          <ion-buttons class="row-1">
            <div class="name-box">
              <ion-label class="label">First name </ion-label>
              <input class="input" formControlName="fName" />
            </div>
          </ion-buttons>
          <ng-container *ngFor="let i of validationSignUp.fName">
            <div
              class="error-message"
              *ngIf="formSignUp.get('fName').hasError(i.type) && (formSignUp.get('fName').dirty || formSignUp.get('fName').touched)"
            >
              {{ i.message }}
            </div>
          </ng-container>
        </div>
        <div class="margin-bottom">
          <ion-buttons class="row-1">
            <div class="name-box">
              <ion-label class="label">Last name</ion-label>
              <input class="input" formControlName="lName" />
            </div>
          </ion-buttons>

          <ng-container *ngFor="let i of validationSignUp.lName">
            <div
              class="error-message"
              *ngIf="formSignUp.get('lName').hasError(i.type) && (formSignUp.get('lName').dirty || formSignUp.get('lName').touched)"
            >
              {{ i.message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom">
          <ion-label class="label">Email</ion-label>
          <input class="input" type="email" formControlName="email" />
          <ng-container *ngFor="let i of validationSignUp.email">
            <div
              class="error-message"
              *ngIf="formSignUp.get('email').hasError(i.type) && (formSignUp.get('email').dirty || formSignUp.get('email').touched)"
            >
              {{ i.message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom">
          <ion-buttons class="row-1">
            <div class="phone-number-box">
              <ion-label class="label">Phone number</ion-label>
              <ion-buttons class="phone-number-body">
                <!-- <ion-label class="country-code">+84</ion-label> -->
                <input class="input" formControlName="phoneNumber" />
              </ion-buttons>
            </div>
          </ion-buttons>

          <ng-container *ngFor="let i of validationSignUp.phoneNumber">
            <div
              class="error-message"
              *ngIf="formSignUp.get('phoneNumber').hasError(i.type) && (formSignUp.get('phoneNumber').dirty || formSignUp.get('phoneNumber').touched)"
            >
              {{ i.message }}
            </div>
          </ng-container>
          <div class="margin-bottom">
            <ion-label class="label">Date of birthday</ion-label>
              <ion-datetime
              mode="ios"
              displayFormat="DD/MM/YYYY"
              formControlName="birthday"
            
              [(ngModel)]="myDate"
            ></ion-datetime>
            <ng-container *ngFor="let i of validationSignUp.birthday">
              <div
                class="error-message"
                *ngIf="formSignUp.get('birthday').hasError(i.type) && (formSignUp.get('birthday').dirty || formSignUp.get('birthday').touched)"
              >
                {{ i.message }}
              </div>
            </ng-container>
          </div>
         
        </div>
        <div class="margin-bottom">
          <ion-label class="label">Password</ion-label>
          <input class="input" type="password" formControlName ="password" />
          <ng-container *ngFor="let i of validationSignUp.password">
            <div
              class="error-message"
              *ngIf="formSignUp.get('password').hasError(i.type) && (formSignUp.get('password').dirty || formSignUp.get('password').touched)"
            >
              {{ i.message }}
            </div>
          </ng-container>
          <ng-container>
            <div
              class="error-message"
              *ngIf="formSignUp.get('password').value.length > 0 && formSignUp.get('password').value.length < 6 && (formSignUp.get('password').dirty || formSignUp.get('password').touched)"
            >
              {{ validationSignUp.password[1].message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom">
          <ion-label class="label">Confirm password</ion-label>
          <input
            class="input"
            type="password"
            formControlName="confirmed_password"
          />
        </div>
      </form>
      <div class="ion-text-right">
        <ion-button class="submit-btn" (click)="submitSignUp()">
          <ion-icon name="chevron-forward-outline" class="ion__next">
          </ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
