<ion-content>
  <img src="assets/img/bg.jpg" alt="" />

  <div class="body">
    <ion-segment (ionChange)="changedSegment($event)" value="login" swipeGesture="false" mode="ios">
      <ion-segment-button value="login">
        <ion-label>Đăng nhập</ion-label>
      </ion-segment-button>
      <ion-segment-button value="signUp">
        <ion-label>Đăng ký</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="group" [ngClass]="{'display-none': segmentValue != 'login'}">
      <form class="form" [formGroup]="formLogin" (onSubmit)="submitLogin()">
        <div class="margin-bottom">
          <ion-label class="label">Nhập email của bạn</ion-label>
          <ion-input class="input" type="text" formControlName="email"></ion-input>
          <ng-container *ngFor="let validation of validationLoginMessages.email">
            <div class="error-message"
              *ngIf="formLogin.get('email').hasError(validation.type) && (formLogin.get('email').dirty || formLogin.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom">
          <ion-label class="label">Mật khẩu</ion-label>
          <ion-input class="input" type="password" formControlName="password"></ion-input>
          <ng-container *ngFor="let validation of validationLoginMessages.password">
            <div class="error-message"
              *ngIf="formLogin.get('password').hasError(validation.type) && (formLogin.get('password').dirty || formLogin.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="ion-text-right">
          <ion-label class="forgot-password-btn" (click)="clickForgotPassword()">Quên mật khẩu?</ion-label>
        </div>
      </form>
      <div class="ion-text-right">
        <ion-button class="submit-btn" (click)="submitLogin()">
          <ion-icon name="chevron-forward-outline" class="ion__next"> </ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="group" [ngClass]="{'display-none': segmentValue != 'signUp'}">
      <form class="form" [formGroup]="formSignUp" (onSubmit)="submitSignUp()">
        <div class="margin-bottom">
          <ion-buttons class="row-1">
            <div class="name-box">
              <ion-label class="label">Tên đầy đủ</ion-label>
              <input class="input" formControlName="full_name">
            </div>
           
          </ion-buttons>

          <ng-container *ngFor="let validation of validationSignUpMessages.full_name">
            <div class="error-message"
              *ngIf="formSignUp.get('full_name').hasError(validation.type) && (formSignUp.get('full_name').dirty || formSignUp.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom">
          <ion-label class="label">Email</ion-label>
          <input class="input" type="email" formControlName="email">
          <ng-container *ngFor="let validation of validationSignUpMessages.email">
            <div class="error-message"
              *ngIf="formSignUp.get('email').hasError(validation.type) && (formSignUp.get('email').dirty || formSignUp.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom">
          <ion-buttons class="row-1">
            <div class="phone-number-box">
              <ion-label class="label">Số điện thoại</ion-label>
              <ion-buttons class="phone-number-body">
                <ion-label class="country-code">+{{ formSignUp.value.country_code }}</ion-label>
                <input class="input" formControlName="phone_number">
              </ion-buttons>
            </div>
          </ion-buttons>

          <ng-container *ngFor="let validation of validationSignUpMessages.phone_number">
            <div class="error-message"
              *ngIf="formSignUp.get('phone_number').hasError(validation.type) && (formSignUp.get('phone_number').dirty || formSignUp.get('phone_number').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validationSignUpMessages.birthday">
            <div class="error-message"
              *ngIf="formSignUp.get('birthday').hasError(validation.type) && (formSignUp.get('birthday').dirty || formSignUp.get('birthday').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="margin-bottom">
          <ion-label class="label">Mật khẩu</ion-label>
          <input class="input" type="password" formControlName="password">
          <ng-container *ngFor="let validation of validationSignUpMessages.password">
            <div class="error-message"
              *ngIf="formSignUp.get('password').hasError(validation.type) && (formSignUp.get('password').dirty || formSignUp.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container>
            <div class="error-message"
              *ngIf="formSignUp.get('password').value.length > 0 && formSignUp.get('password').value.length < 6 && (formSignUp.get('password').dirty || formSignUp.get('password').touched)">
              {{ validationSignUpMessages.password[1].message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom">
          <ion-label class="label">Nhập lại mật khẩu</ion-label>
          <input class="input" type="password" formControlName="confirmed_password">
        </div>
      </form>
      <div class="ion-text-right">
        <ion-button class="submit-btn" (click)="submitSignUp()">
          <ion-icon name="chevron-forward-outline" class="ion__next"> </ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>