ion-content {
  --padding-top: 10px;

  ion-item-group {
    ion-item {
      ion-item {
        --padding-start: 0;
        --inner-padding-bottom: 0;
        --inner-padding-end: 0;
        --inner-padding-start: 0;
        --inner-padding-top: 0;
      }
      ion-toggle {
        // --ion-color-base: #a88fcd !important;
        // --ion-color-base-rgb: var(--red);
        // --background-checked: #c4b7d8;
        // --handle-background-checked: #a88fcd ;
      }

      i {
        font-size: 20px;
        color:#A88FCD;
      }
      ion-label {
        color: #424242;
      }

      ion-select {
        color: #A88FCD;

      }

      ion-datetime {
        color: #A88FCD;
        --padding-end: 0;
      }
    }

    .text-input {
      width: 100%;
      border: 0;
      font-size: 19px;
      font-weight: bold;
      color: #828282;
      height: 55px;
      padding-left: 16px;
      border-bottom: 1px solid #ccc;

      &:focus {
        outline: none;
        border: 0;
        border-bottom: 1px solid #ccc;

      }
    }
  }
}

.join {
  color: #424242;
  display: flex;
  justify-content: space-between;

  .name-join {
    color: #A88FCD;
  }
}

.family-member {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 0;

  li {
    text-align: center;
    position: relative;

    ion-text {
      color: #424242;

      line-height: 28px;
    }

    .img-check {
      position: absolute;
      top: 0;
      right: 4px;
    }
  }

  .family-member--img {
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
}
.footer {
  display: flex;
  justify-content: flex-end;
  .btn-submit {
    --background: #ff5d52;
    // float: right;
    margin: 16px;
    text-transform: uppercase;
  
    i {
      margin-left: 6px;
    }
  
  }
}



.separate {
  height: 36px;
  width: 100%;
  background-color: #efeef3;
}
