<app-header [headerCustom]="headerCustom"></app-header>


<ion-content class="ion-padding">
  <h1 class="ion-text-center">Diary app</h1>
  <h3>Wellcome you to with us !</h3>
  <p>The Diary application allows users to create an account and enjoy with family events </p>
  <p>With outstanding features like schedule an event, invite family members, remove members from family, review activity history, ... and much more hope to bring a great experience for users.</p>
  <p>Download right now at link bellow:</p>
  <p>If you have any questions about the app, please connect by email: 
    <ion-label style="color: blue;">hoaimiqng@gmail.com</ion-label></p>
    <p>Thanks for you attention</p>
</ion-content>
